<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header-section case-studies-header">
    <nav
      class="navbar navbar-expand-md px-0 main-nav sticky"
      data-sticky-wrap="true"
      data-sticky-class="stuck"

    >
      <div class="container px-4">
        <a class="navbar-brand" href="#home">
          <img src="../media/logo.svg" alt="" />
        </a>
        <button
          class="navbar-toggler open-nav"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div class="toggle-menu-wrapper">
            <div class="toggle-menu">
              <div class="line line1"></div>
              <div class="line line2"></div>
              <div class="line line3"></div>
            </div>
          </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
              <a class="nav-link" href="./index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./index.html#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./index.html#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./index.html#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./index.html#contact">Contact Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link case-studies" href="./caseStudies.html">Case Studies</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- main page goes here -->
    <section class="case-studies-body container">
      <div class="case-card">
        <img src="https://res.cloudinary.com/dejiabiola/image/upload/c_scale,q_67,w_592/v1607887148/envato_2.0/kem1.jpg" alt="BUY EAZY E-COMMERCE MOBILE APP">
        <div class="text-section">
          <h3>BUY EAZY E-COMMERCE MOBILE APP</h3>
          <p>An e-conmmerce mobile app which allows users shop online easily.</p>
          <a href="https://www.behance.net/gallery/108318223/E-Commerce-App" target="_blank" rel="noreferrer noopener">Read Case Study</a>
        </div>
      </div>
      <div class="case-card">
        <div class="image-wrapper">
          <img class="adjust-image" src="https://res.cloudinary.com/dejiabiola/image/upload/c_scale,q_67,w_330/v1607887186/envato_2.0/kem2.png" alt="AMERICAN AIRLINES WEBSITE REDESIGN">
        </div>
        <div class="text-section">
          <h3>AMERICAN AIRLINES WEBSITE REDESIGN</h3>
          <p>A landing page which allows users book flights conveniently in minutes.</p>
          <a href="https://www.behance.net/gallery/108804023/Amerian-Airlines-Website-Redesign" target="_blank" rel="noreferrer noopener">Read Case Study</a>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div>
        <img src="../media/logo.svg" alt="" />
      </div>
      <div>
        <p>&copy; Copyright 2020. All right reserved</p>
      </div>
      <div>
        <a href="https://twitter.com/SpontaneousKemi" target="_blank">
          <img src="../media/twitter.svg" alt="link to twitter account" />
        </a>
        <a
          href="https://www.linkedin.com/in/oluwakemi-adeleke/"
          target="_blank"
        >
          <img src="../media/linkedin.svg" alt="link to linkedin account" />
        </a>
        <a href="https://www.behance.net/oluwakemiolivia" target="_blank">
          <img src="../media/behance.svg" alt="link to behance account" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=2348136404552&text=Hey%20this%20is%20Kemi.%20I'm%20looking%20forward%20to%20discussing%20with%20you%20about%20bringing%20your%20ideas%20to%20life." target="_blank">
          <img src="../media/whatsapp.svg" alt="link to whatsapp" />
        </a>
      </div>
    </div>
  </footer>

  <!-- Mobile navigation code -->
  <div class="mobile-nav">
    <div class="container">
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="nav-list-item mobile-link">
            <a href="./index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-list-item mobile-link">
            <a href="./index.html#about" class="nav-link">About</a>
          </li>
          <li class="nav-list-item mobile-link">
            <a href="./index.html#services" class="nav-link">Services</a>
          </li>
          <li class="nav-list-item mobile-link">
            <a href="./index.html#portfolio" class="nav-link">Portfolio</a>
          </li>
          <li class="nav-list-item mobile-link">
            <a href="./index.html#contact" class="nav-link">Contact Me</a>
          </li>
          <li class="nav-list-item mobile-link case-studies">
            <a class="nav-link case-studies" href="./caseStudies.html">Case Studies</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</body>
</html>