<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="shortcut icon" type="image/svg" href="">
        <title>Kem Kem | Product designer and frontend developer</title>
    </head>

    <body>
      <div class="container-fluid">
        <div class="services-card-wrapper">
          <div class="services-card interface">
            <div>
              <img src="../media/react-logo.svg" alt="">
            </div>
            <h5>User Interface Design</h5>
            <p>I work with certain design tools to create high-fidelity designs and prototypes. 
              I create user research,  sketches, and userflows which aid better user experience.
            </p>
          </div>
    
    
          <div class="services-card development">
            <div>
              <img src="../media/brackets.svg" alt="">
            </div>
            <h5>Website Development</h5>
            <p>
              I use various web technologies to develop attractive websites which converts visitors to customers. 
              I develop creative and responsive wbsite layouts.
            </p>
          </div>
    
    
          <div class="services-card marketing">
            <div>
              <img src="../media/digital-marketing.svg" alt="">
            </div>
            <h5>Digital Marketing</h5>
            <p>
              I identify and evaluates new digital technologies and uses web analytics tools to measure site 
              traffic to better optimize marketing campaigns.
            </p>
          </div>
        </div>
      </div>

      <footer>
        <div>
          <img src="../media/logo.svg" alt="">
        </div>
        <div>
          <img src="../media/twitter.svg" alt="">
          <img src="../media/linkedin.svg" alt="">
          <img src="../media/github.svg" alt="">
          <img src="../media/behance.svg" alt="">
        </div>
      </footer>


      
      
        <!-- <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js')
                  .then(reg => console.log("Service worker registered successfully"));
              });
          }
      </script> -->
    </body>
</html>
