<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta name="description" content="Professional product designer and frontend developer based in Lagos, Nigeria">
  <meta name="keywords" content="HTML, CSS, JavaScript, Figma, Product Design, User interface, user experience">
  <meta name="author" content="Oluwakemi Adeleke">
  <link rel="shortcut icon" type="image/svg" href="../media/logo.svg" />
  <title>Kem Kem | Product designer and frontend developer</title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="200">
  <header class="header-section" id="home">
    <nav class="navbar navbar-expand-md px-0 main-nav sticky" data-sticky-wrap="true" data-sticky-class="stuck"
      data-sticky-for="767">
      <div class="container px-4">
        <a class="navbar-brand" href="#home">
          <img src="../media/logo.svg" alt="" />
        </a>
        <button class="navbar-toggler open-nav" type="button" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <div class="toggle-menu-wrapper">
            <div class="toggle-menu">
              <div class="line line1"></div>
              <div class="line line2"></div>
              <div class="line line3"></div>
            </div>
          </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="hero-wrapper">
        <div class="hero-text-wrapper">
          <p class="hi">Hi There <img src="../media/emoji.svg" alt="hello" /> I'm</p>
          <h1>Oluwakemi Adeleke</h1>
          <h3>Ui/Ux Designer + Developer</h3>
          <p class="info">
            I’m a professional UI/UX designer with front end development
            skills based in Lagos.
          </p>
          <a href="#contact">
            <span>Hire Me</span>
          </a>
        </div>
        <div class="hero-image-wrapper">
          <img src="../media/hero-image-2.png" alt="" />
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="about-section container" id="about">
      <div class="image-div" data-aos="fade-right">
        <img src="../media/kemi.jpeg" alt="kemi adeleke profile picture" />
      </div>
      <div class="about-text-div">
        <div class="header about-header">
          <div class="inner">
            <div data-aos="fade-up">
              <span>Who I am</span>
              <span class="line"></span>
            </div>
            <h3 data-aos="fade-up">About Me</h3>
          </div>
        </div>
        <div class="text">
          <p data-aos="fade-up">
            I’m Oluwakemi Adeleke, a talented ui/ux designer with front end
            development skills. I have experience in web development, content
            writing, product designing and SEO analytics.
          </p>
          <p data-aos="fade-up">
            I develop websites with HTML, CSS and JavaScript. I have top
            skills in using design softwares like Figma, Adobe XD, and
            PhtotShop ; with prototype tools like InVision and Protopie
          </p>
          <p data-aos="fade-up">
            Being a diligent, hardworking and result oriented lady, I always
            work towards achieving best result on each project I lay my hands
            on.
          </p>
        </div>
        <a href="" data-aos="fade-up">
          <span>Download CV</span>
        </a>
      </div>
    </section>

    <section class="services-section container" id="services">
      <div class="header services-header">
        <div class="inner">
          <div data-aos="fade-up">
            <span>What I do</span>
            <span class="line"></span>
          </div>
          <h3 data-aos="fade-up">My Services</h3>
        </div>
      </div>
      <div class="services-card-wrapper">
        <div class="services-card interface" data-aos="fade-up" data-aos-delay="200">
          <div>
            <img src="../media/react-logo.svg" alt="" />
          </div>
          <h5>User Interface Design</h5>
          <p>
            I work with certain design tools to create high-fidelity designs
            and prototypes. I create user research, sketches, and userflows
            which aid better user experience.
          </p>
        </div>

        <div class="services-card development" data-aos="fade-up" data-aos-delay="400">
          <div>
            <img src="../media/brackets.svg" alt="" />
          </div>
          <h5>Website Development</h5>
          <p>
            I use various web technologies to develop attractive websites
            which converts visitors to customers. I develop creative and
            responsive wbsite layouts.
          </p>
        </div>

        <div class="services-card marketing" data-aos="fade-up" data-aos-delay="600">
          <div>
            <img src="../media/digital-marketing.svg" alt="" />
          </div>
          <h5>Digital Marketing</h5>
          <p>
            I identify and evaluates new digital technologies and uses web
            analytics tools to measure site traffic to better optimize
            marketing campaigns.
          </p>
        </div>
      </div>
    </section>

    <section class="skills-section">
      <div class="container">
        <div class="header skills-header">
          <div class="inner">
            <div>
              <span>Skills Level</span>
              <span class="line"></span>
            </div>
            <h3>My Skills</h3>
          </div>
        </div>
        <div class="skills-boxes-wrapper">
          <div class="box">
            <div class="chart chart-1" data-percent="80">80%</div>
            <h6>Digital Marketing</h6>
          </div>
          <div class="box">
            <div class="chart chart-2" data-percent="90">90%</div>
            <h6>UX Design</h6>
          </div>
          <div class="box">
            <div class="chart chart-3" data-percent="95">95%</div>
            <h6>UI Design</h6>
          </div>
          <div class="box">
            <div class="chart chart-4" data-percent="75">75%</div>
            <h6>Web Development</h6>
          </div>
        </div>
      </div>
    </section>

    <section class="workflow-section container">
      <div class="header workflow-header">
        <div class="inner">
          <div data-aos="fade-up">
            <span>Work Flow</span>
            <span class="line"></span>
          </div>
          <h3 data-aos="fade-up">My Work Process</h3>
        </div>
      </div>
      <div class="cards-wrapper">
        <div class="card idea" data-aos="zoom-in" data-aos-delay="200">
          <img src="../media/work-idea.svg" alt="" />
          <h6>Idea</h6>
          <p>I create an idea concept</p>
        </div>
        <div class="card plan" data-aos="zoom-in" data-aos-delay="400">
          <img src="../media/work-plan.svg" alt="" />
          <h6>Plan</h6>
          <p>I plan how to execute the idea by doing case study</p>
        </div>
        <div class="card sketch" data-aos="zoom-in" data-aos-delay="600">
          <img src="../media/work-sketch.svg" alt="" />
          <h6>Sketch</h6>
          <p>I create sketches and wireframes of the idea</p>
        </div>
        <div class="card design" data-aos="zoom-in" data-aos-delay="800">
          <img src="../media/work-design.svg" alt="" />
          <h6>Design</h6>
          <p>I bring the sketches to life by designing the interface</p>
        </div>
      </div>
    </section>

    <section class="portfolio-section container" id="portfolio">
      <div class="header portfolio-header">
        <div class="inner">
          <div data-aos="fade-up">
            <span>My Project</span>
            <span class="line"></span>
          </div>
          <h3 data-aos="fade-up">My Portfolio</h3>
        </div>
      </div>
      <div class="flex-container">
        <div class="first-row">
          <img src="../media/portfolio-1.png" alt="" class="port-1" data-aos="fade-down" />
          <img src="../media/portfolio-4.png" alt="" class="port-4" data-aos="fade-up" />
        </div>
        <div class="second-row">
          <div class="portfolio-image-wrapper">
            <img src="../media/portfolio-2.png" alt="" class="port-2" data-aos="fade-down" />
            <div>
              <h5>Medival App</h5>
              <p>The app connects users to medical professionals based on their health issues.</p>
            </div>
          </div>
          <div class="portfolio-image-wrapper">
            <img src="../media/portfolio-6.jpeg" alt="" class="port-5" />
          </div>
        </div>
        <div class="third-row">

          <img src="../media/portfolio-3.png" alt="" class="port-3" data-aos="fade-down" />
          <img src="../media/portfolio-5.png" alt="" class="port-6" data-aos="fade-up" />
        </div>
      </div>
    </section>

    <section class="contact-section container" id="contact">
      <div class="header contact-header">
        <div class="inner">
          <div data-aos="fade-up">
            <span>Contact Me</span>
            <span class="line"></span>
          </div>
          <h3 data-aos="fade-up">Get In Touch</h3>
        </div>
      </div>
      <div class="contact-flex">
        <div class="left-icons">
          <div class="contact-info" data-aos="fade-up">
            <div class="contact-image-div">
              <img src="../media/contact-address.svg" alt="" />
            </div>
            <p>G.R.A Ikeja, Lagos</p>
          </div>
          <div class="contact-info" data-aos="fade-up">
            <div class="contact-image-div">
              <img src="../media/contact-email.svg" alt="" />
            </div>
            <a href="mailto:damselkay21@gmail.com">damselkay21@gmail.com</a>
          </div>
          <div class="contact-info" data-aos="fade-up">
            <div class="contact-image-div">
              <img src="../media/contact-phone.svg" alt="" />
            </div>
            <a href="tel:+234-813-640-4552">+234-813-640-4552</a>
          </div>
        </div>
        <form action="" class="contact-form" data-aos="fade-up">
          <input type="text" placeholder="Full Name" />
          <div>
            <input type="text" placeholder="Email" />
            <input type="text" placeholder="Phone Number" />
          </div>
          <textarea name="" id="" cols="30" rows="10" placeholder="Enter your message"></textarea>
          <button>Submit</button>
        </form>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div>
        <img src="../media/logo.svg" alt="" />
      </div>
      <div>
        <p>&copy; Copyright 2020. All right reserved</p>
      </div>
      <div>
        <a href="https://twitter.com/kemkem_dev" target="_blank">
          <img src="../media/twitter.svg" alt="link to twitter account" />
        </a>
        <a href="https://www.linkedin.com/in/oluwakemi-adeleke/" target="_blank">
          <img src="../media/linkedin.svg" alt="link to linkedin account" />
        </a>
        <a href="https://github.com/KemKem-dev" target="_blank">
          <img src="../media/github.svg" alt="link to github account" />
        </a>
        <a href="" target="_blank">
          <img src="../media/behance.svg" alt="link to behance account" />
        </a>
      </div>
    </div>
  </footer>


  <div class="page-designs">
    <div class="grills">
      <img src="../media/side-element.svg" alt="" class="element-1" />
      <img src="../media/side-element.svg" alt="" class="element-2" />
      <img src="../media/side-element.svg" alt="" class="element-3" />
      <img src="../media/side-element.svg" alt="" class="element-4" />
    </div>
    <div class="page-overlay">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3"></div>
    </div>
    <div class="random-moving-divs">
      <div class="a"></div>
      <div class="b"></div>
      <div class="c"></div>
      <div class="d"></div>
      <div class="e"></div>
      <div class="f"></div>
      <div class="g"></div>
      <div class="h"></div>
      <div class="i"></div>
      <div class="j"></div>
      <div class="k"></div>
      <div class="l"></div>
    </div>
  </div>


  <div class="mobile-nav">
    <div class="container">
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="#home" class="nav-link">Home</a></li>
          <li class="nav-list-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-list-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-list-item">
            <a href="#portfolio" class="nav-link">Portfolio</a>
          </li>
          <li class="nav-list-item">
            <a href="#contact" class="nav-link">Contact Me</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js')
                  .then(reg => console.log("Service worker registered successfully"));
              });
          }
      </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/easypiechart.min.js"></script>
</body>

</html>