.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 21.1rem;

  @media (max-width: 965px) {
    display: block;
  }

  @media (max-width: 560px) {
    margin-bottom: 10.4rem;
  }

  .image-div {
    position: relative;
    width: 45.6rem;
    height: 55.9rem;
    margin-right: 6.2rem;

    @media (max-width: 965px) {
      margin-right: 0;
    }

    @media (max-width: 560px) {
      margin: 0 1.5rem;
      width: 31.6rem;
      height: 41.2rem;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 330px) {
      width: 31.6rem;
      height: 30.2rem;
      max-width: 100%;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }


    img {
      width: 45.6rem;
      height: 55.9rem;
      filter: drop-shadow(0px 1.6rem 1.6rem rgba(51, 51, 51, 0.25));

      @media (max-width: 560px) {
        width: 31.6rem;
        height: 41.2rem;
        max-width: 100%;
      }

      @media (max-width: 330px) {
        width: 25.6rem;
        height: 30.2rem;
        max-width: 100%;
      }
    }


    &:after {
      content: '';
      position: absolute;
      top: -1.9rem;
      left: -2.2rem;
      border-top: 9px solid #00FFBB;
      border-left: 9px solid #00FFBB;
      height: 53.2rem;
      width: 43.1rem;

      @media (max-width: 560px) {
        max-width: 100%;
        height: 100%;
      }

      @media (max-width: 330px) {
        max-width: 80%;
        height: 77%;
      }
    }
  }

  .about-text-div {
    max-width: 35.5rem;
    overflow: hidden;

    @media (max-width: 965px) {
      width: 45.6rem;
      max-width: 100%;
      text-align: center;
    }

    @media (max-width: 965px) {
      margin-top: 3rem;
      margin-left: 0;
      margin-right: 0;
    }

    .about-header.header {
      margin-top: 0.3rem;
      margin-bottom: 3.2rem;
      display: block;

      @media (max-width: 965px) {
        display: flex;
      }

      inner {
        & > div {
          display: unset !important;
        }
      }

     

    }

    p {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #FFFFFF;
      margin-bottom: 2.4rem;

      @media (max-width: 965px) {
        margin-bottom: 1.6rem;
      }

      @media (max-width: 500px) {
        font-size: 1.5rem;
      line-height: 1.8rem;
      }
    }


    .text {
      margin-bottom: 6.4rem;

      @media (max-width: 965px) {
        margin-bottom: 2.9rem;
      }
    }

    a {
      width: 18.7rem;
      height: 4.8rem;
      background: #00ffbb;
      box-shadow: 0px 1.6rem 1.6rem rgba(51, 51, 51, 0.25);
      border-radius: 3rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #303030;

      @media (max-width: 965px) {
        margin: 0 auto;
      }

      &:hover {
        color: #303030;
        text-decoration: none;
      }

      span {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
      }
    }
  }
}
