.contact-section {
  margin-bottom: 25.3rem;

  @media (max-width: 500px) {
    margin-bottom: 15rem;
  }
}

.contact-header {
  h3 {
    margin-bottom: 1.6rem;
  }
}

.contact-header-text {
  margin: 0rem auto 4rem;
  width: 46rem;
  max-width: 100%;

  p {
    color: #ffffff;
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
  }
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1066px) {
    justify-content: center;
  }

  .left-icons {
    overflow: hidden;
  }

  .contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4rem;
    margin-right: 2rem;

    p,
    a {
      font-family: "SF Pro Display", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-align: center;
      color: #ffffff;

      @media (max-width: 303px) {
        font-size: 1.3rem;
      }
    }
  }

  .contact-image-div {
    width: 6rem;
    height: 6rem;
    background: #00ffbb;
    margin-right: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @media (max-width: 300px) {
      width: 4rem;
      height: 4rem;
    }
  }
}

.contact-form {
  width: 69.3rem;
  max-width: 100%;

  input {
    height: 4.8rem;
    display: flex;
    align-items: center;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    margin-bottom: 3.2rem;
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff;

    &::placeholder {
      font-family: "SF Pro Display", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #c4c4c4;
    }
  }

  input,
  textarea {
    background: #262626;
    box-shadow: 0rem 0.8rem 0.4rem rgba(51, 51, 51, 0.25);
    border-radius: 3rem;
    display: block;
    width: 100%;
    border: 1px solid #fcfcfc;

    &:focus {
      box-shadow: none;
      outline: none;
      border: 0.1rem solid #00ffbb;
    }
  }

  textarea {
    border-radius: 1rem;
    padding: 2.2rem 3.2rem;
    margin-bottom: 4.4rem;
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff;

    &::placeholder {
      font-family: "SF Pro Display", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #c4c4c4;
    }
  }

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 500px) {
      display: block;
    }

    input {
      width: 49%;

      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }

  button {
    height: 4.8rem;
    width: 18.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00ffbb;
    box-shadow: 0rem 1.6rem 1.6rem rgba(51, 51, 51, 0.25);
    border-radius: 3rem;
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #303030;
    border: none;

    &:active,
    &:visited {
      outline: none;
      border: none;
      box-shadow: none;
    }

    @media (max-width: 1066px) {
      margin: 0 auto;
    }
  }
}
