header {
  min-height: 95vh;
  margin-bottom: 21.2rem;
  background: #212121;

  @media (max-width: 560px) {
    margin-bottom: 10.4rem;
  }
}

.main-nav {
  width: 100%;
}

.navbar {
  padding: 1.5rem 1rem;
  position: relative;
  z-index: 900;

  .navbar-toggler {
    box-shadow: none;
    outline: none;
    border: none;
  }
}

.navbar.stuck {
  @media (min-width: 768px) {
    background: rgba(33, 33, 33, 0.7);
  }
}

.nav-item {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-right: 3.5rem;

  &:last-of-type {
    margin-right: 0;
  }

  .nav-link {
    color: #ffffff;

    &.active {
      color: #00ffff;
      font-weight: bold;
    }
  }
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 7rem;
  background: #212121;
  position: relative;
  margin-top: 17%;

  @media (max-width: 600px) {
    margin-top: 10rem;
  }

  .hero-text-wrapper {
    width: 40rem;
    max-width: 100%;
    overflow: hidden;

    @media (max-width: 500px) {
      max-width: 24.7rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

  

    p:first-of-type {
      text-transform: uppercase;
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #ffffff;
      margin-bottom: 1.6rem;
      display: flex;
      align-items: center;

      @media (max-width: 500px) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
      }

      img {
        margin: 0 7px;
      }
    }

    h1 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 7.2rem;
      line-height: 8.6rem;
      color: #ffffff;
      margin-bottom: 1.6rem;

      @media (max-width: 500px) {
        font-size: 3.2rem;
        line-height: 3.8rem;
      }
    }

    h3 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: #00ffbb;
      margin-bottom: 2.5rem;
      text-transform: uppercase;

      @media (max-width: 500px) {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }

    p:last-of-type {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #ffffff;
      margin-bottom: 3.2rem;

      @media (max-width: 500px) {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }

    a {
      width: 18.7rem;
      height: 4.8rem;
      background: #00ffbb;
      box-shadow: 0px 1.6rem 1.6rem rgba(51, 51, 51, 0.25);
      border-radius: 3rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #303030;

      @media (max-width: 500px) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      &:hover {
        color: #303030;
        text-decoration: none;
      }

      span {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
      }
    }
  }

  .hero-image-wrapper {
    overflow: hidden;

    @media (max-width: 880px) {
      display: none;
    }

    img {
      height: 32.7rem;
      width: 65.9rem;

      @media (max-width: 1090px) {
        width: 50rem;
      }

      @media (max-width: 930px) {
        width: 45rem;
      }
    }
  }
}

.mobile-nav {
  .nav-bar {
    position: fixed;
    background-color: #262626;
    top: 0;
    z-index: 1000;
    right: 100%;
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
  }


  .nav-list {
    list-style: none;
    margin-top: 3rem;
  }

  .nav-list-item {
    text-align: center;
    padding: 10px 0;
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;

    color: #ffffff;
  }

  .nav-link {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
  }

  .nav-link::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }
}

.toggle {
  left: 0;
  // box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
  // background-color: rgba(0, 0, 0, 0.2);
  // position: fixed;
  top: 6.2rem;
  right: 20px;
  width: 3rem;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.line {
  width: 100%;
  height: 0.188rem;
  border-radius: 5px;
  background-color: #00ffbb;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #00ffbb;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #00ffbb;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}
