.services-section {
  margin-bottom: 27.6rem;

  @media (max-width: 600px) {
    margin-bottom: 10rem;
  }

  .services-header {
    margin-bottom: 5.8rem;
  }
}

.services-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.services-card {
  background: #ffffff;
  box-shadow: .0rem .8rem 1.6rem rgba(51, 51, 51, 0.2);
  border-radius: .8rem;
  width: 35.7rem;
  min-height: 30.0rem;
  max-width: 100%;
  padding: 1.6rem 4.3rem 2.2rem 3.5rem;
  position: relative;
  margin-bottom: 2.7rem;
  margin-right: 1rem;
  margin-left: 1rem;

  
  @media (max-width: 500px) {
    padding: 1.6rem 1.3rem 2rem 2.1rem;
  }

  &.last-of-type {
    margin-bottom: 0;
  }



  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.0rem;
    bottom: 0;
    left: 0;
    border-radius: .0rem .0rem .8rem .8rem;
   
  }

  &.interface:after {
    background: #00aeff;
  }

  &.development:after {
    background: #E31F71;
  }

  &.marketing:after {
    background: #8838B4;
  }

  div {
    width: 8.0rem;
    height: 8.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.7rem;
    border-radius: 50%;
  }

  &.interface div {
    background: rgba(0, 174, 255, 0.2);
  }

  &.development div {
    background: rgba(227, 31, 113, 0.2);
  }

  &.marketing div {
    background: rgba(136, 56, 180, 0.2);
  }

  h5 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #2b2b2b;
    margin-bottom: 3.0rem;
  }

  p {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #2B2B2B;
  }
}

body {
  background: #262626 !important;
}